.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    h1 {
      color: #fff;
      font-weight: normal;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 40vw;
      text-align: center;

      @extend %fadeUp;
    }
  }

  svg {
    width: auto;
    position: absolute;
    fill: #fff;

    &.first {
      height: 85vh;
      top: -120px;
      left: -50vw;

      @extend %svgAnimation;
    }

    &.second {
      height: 60vh;
      bottom: -45%;
      right: -28vw;

      @extend %svgAnimation;
    }
  }
}

@media screen and (min-width: 600px) {
  .banner {
    .container {
      align-items: center;
      justify-content: flex-end;

      h1 {
        width: 75%;
        font-size: 5.3vw;
        line-height: 5.6vw;
        margin: 0;
        text-align: left;
        text-transform: uppercase;
      }
    }

    svg.second {
      bottom: -30%;
    }
  }
}

@media screen and (min-width: 1050px) {
  .banner {
    min-height: 750px;

    .container {
      h1 {
        width: 55%;
        font-size: 2.8vw;
        line-height: 3.5vw;
      }
    }

    svg {
      &.first {
        height: 100vh;
        top: -120px;
        left: -5vw;
      }

      &.second {
        height: 67vh;
        bottom: -32%;
        right: -5vw;
      }
    }
  }
}
