.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  z-index: 99;
}

.header-container {
  width: 95%;
  margin: 0 auto;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

  img {
    width: 200px;
  }
}

@import './menu';
